.icon {
  width: 100px;
  height: 100px;
  margin: 5px 2px 5px 2px;
  background-color: blue;
  border-radius: 5px;
  display: inline-block;
}

div.drop-zone {
  min-height: 100px;
  width: 100%;
  background-color: #FFCC66;
  margin: 5px;
}

.jiggly {
    cursor: move;
    -webkit-animation: jiggle 0.2s infinite;
    -webkit-transform: rotate(-2deg);
}

@-webkit-keyframes jiggle {
    0% {
        -webkit-transform: rotate(-2deg);
    }
    50% {
        -webkit-transform: rotate(1deg);
    }
}